@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #3f4347;
}

.Results {
  background-color: white;
}

.StockAccordian {
  border-top: 0.1px solid rgb(211, 211, 211);
}

.PortfolioGraphContainer,
.IndividualStockContainer {
  display: grid;
  grid-template-columns: 1fr;
}

label {
  z-index: 100;
}

.Header {
  background-color: #2e2c2c;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2em;
  row-gap: 2em;
  align-content: center;
  justify-content: center;
  padding: 1em 1em;

  label {
    color: white;
  }

  .submit-button {
    color: black;
    background-color: #7aaef3;
    border-radius: 4px;
    height: auto;
    border: 1px solid rgba(192, 113, 113, 0.3);
    box-sizing: border-box;
    font-size: 1em;
    padding: 1em;
    font-weight: bold;
    &:hover {
      border: 1px solid white;
    }
  }
}

@media only screen and (min-width: 768px) {
  .Header {
    display: flex;
  }

  .PortfolioGraphContainer,
  .IndividualStockContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
