* {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}

.testing {
    display: flex;
}

.tradingview-widget-container div div {
    height: 700px !important;
    width: 100% !important;
}

.tradingview-widget-container {
    flex: 10;
}

.Results {
    border: 1px solid black;
    background-color: white;
}

.Charts {
    // height: 1024px;
    display: flex;
}

.DailyGraph {
    flex: 1;
    margin: 5px;

}

.AccumGraph {
    margin: 5px;
    flex: 1;
}


.portfolio-graph {
    display: flex;
    // margin: 2rem;
}

.MuiInputLabel-formControl {
    top: 0.5rem !important;
    left: 1rem !important;
    color: #ffffff !important;
}

label {
    z-index: 100;
}

.MuiInput-underline:before {
    content: none !important;
}

.MuiInput-underline:after {
    content: none !important;
}


.Header {
    // background-color: #c4d6f0;
    background-color: #515a66;
    padding: 0.5rem;
    padding-top: 0rem;
    padding-right: 2rem;
    padding-left: 2rem;
    min-height: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;


    input {
        width: 80%;
        // margin-left: 0.3rem;
        margin-right: 5vw;
        height: 50px;
        position: relative;
        padding: 0px 16px;
        border: 1px solid rgba(0, 0, 0, 0.178);
        border-top: 1px solid rgba(0, 0, 0, 0.075);
        border-radius: 4px;
        font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        background-color: #b3b1b141;
        color: #282828;
        outline: none;
        box-shadow: 0px 4px 20px 0px transparent;
        transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
        -webkit-appearance: none;
        justify-self: center;

        &:hover {
            background-color: rgba(255, 255, 255, 0.45);
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
        }

        &:focus {
            border: none;
        }

        &::placeholder {
            color: black;
        }
    }

    button {
        height: 52px;
        color: black;
        background-color: #7aaef3;
        width: auto;
        padding: 1rem;
        border-radius: 4px;
        margin-top: 10px;
        border: 1px solid rgba(0, 0, 0, 0.300);
        font-size: 16px;
        font-weight: bold;
        box-shadow: 0px 4px 20px 0px transparent;
        transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out, 0.3s color ease-in-out;


        &:hover {
            background-color: #5d76e4;
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
            color: white;
        }

    }
}

.news-item {
    margin: 1rem 0.5rem;
}


.news-feed {
    overflow: auto;
    height: 700px;
    flex: 3;
    padding: 0;
    display: flex;
    flex-direction: column;

    p {
        color: #5d76e4;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }
}



#tradingview_8a7e5-wrapper {
    margin: 0 !important;
    padding: 0 !important;
}